
* 
  margin: 0
  padding: 0



.debugview
	padding: 10px
	height: 20px
	width: 100%
	position: absolute
	bottom: 0px
	background-color: grey



.parsley-validated
	background-color: green
.parsley-success
	background-color: green
.parsley-error
	background-color: red
ul.parsley-error-list
	color: red
li.parsley-error
	color: red
